/* src/assets/base.css */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  
  /* Use these for easy theme switching later */
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-black);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-white);
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.5;
  font-family: Inter, system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}