/* src/assets/main.css */
@import "tailwindcss";
@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
}

@theme {
  --color-primary: #34d399; /* text-emerald-400 */
}

body {
  transition: color 0.3s, background-color 0.3s;
}